CONFIG_SYSVIPC=y
CONFIG_USER_NS=y
CONFIG_DEVTMPFS=y
CONFIG_VT=y
# CONFIG_SECURITY_SELINUX_DEVELOP is not set
CONFIG_SECURITY_APPARMOR=y
CONFIG_DEFAULT_SECURITY_APPARMOR=y
CONFIG_EXTRA_FIRMWARE="aw881xx_acf.bin"
CONFIG_EXTRA_FIRMWARE_DIR="firmware"
CONFIG_BT_RFCOMM=y
CONFIG_BT_RFCOMM_TTY=y
CONFIG_BT_BNEP=y
CONFIG_BT_BNEP_MC_FILTER=y
CONFIG_BT_BNEP_PROTO_FILTER=y
CONFIG_BT_HIDP=y
CONFIG_BT_HCIVHCI=y
CONFIG_ANDROID_BINDER_DEVICES="binder,hwbinder,vndbinder,anbox-binder,anbox-hwbinder,anbox-vndbinder"
