CONFIG_SYSVIPC=y
CONFIG_USER_NS=y
CONFIG_DEVTMPFS=y
CONFIG_VT=y
# CONFIG_SECURITY_SELINUX_DEVELOP is not set
CONFIG_SECURITY_APPARMOR=y
CONFIG_DEFAULT_SECURITY_APPARMOR=y
CONFIG_EXTRA_FIRMWARE="aw881xx_acf.bin"
CONFIG_EXTRA_FIRMWARE_DIR="firmware"
CONFIG_BT_RFCOMM=y
CONFIG_BT_RFCOMM_TTY=y
CONFIG_BT_BNEP=y
CONFIG_BT_BNEP_MC_FILTER=y
CONFIG_BT_BNEP_PROTO_FILTER=y
CONFIG_BT_HIDP=y
CONFIG_BT_HCIVHCI=y
CONFIG_ANDROID_BINDER_DEVICES="binder,hwbinder,vndbinder,anbox-binder,anbox-hwbinder,anbox-vndbinder"
CONFIG_NETFILTER_XT_TARGET_CHECKSUM=y
CONFIG_NET_CLS_CGROUP=y
CONFIG_FHANDLE=y
CONFIG_CGROUP_DEVICE=y
CONFIG_CGROUP_PERF=y
CONFIG_CHECKPOINT_RESTORE=y
CONFIG_PM_AUTOSLEEP=y
CONFIG_NETFILTER_XT_MATCH_NFACCT=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_BLK_DEV_NBD=y
CONFIG_MACVLAN=y
CONFIG_BTRFS_FS=y
CONFIG_FANOTIFY=y
CONFIG_AUTOFS4_FS=y
CONFIG_SQUASHFS=y
CONFIG_SQUASHFS_XATTR=y
CONFIG_SQUASHFS_LZ4=y
CONFIG_SECURITY_SELINUX_BOOTPARAM=y
CONFIG_SECURITY_YAMA=y
